body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
}

header {
  min-height: 6vh;
  background-color: #3472f8; /*4f83f0*/
  color: white;
  padding: 0.5em;
  padding-top: 0.7em;
  text-align: center;
}

h1 {
  margin: 0;
}

nav {
  min-height: 2vh;
  background-color: #84a9f9; /*7fa3f0*/
  color: white;
  padding: 0.3em;
  padding-top: 0.1em;
}

nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

main::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}
main {
  height: 71vh;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 10px #888;
}

label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  padding: 0;
}

.img {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  object-position: center;
  background-color: white;
}

.img_group {
  height: 15vh;
  width: 25vh;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.img_group:last-child {
  margin-bottom: 20px;
}
.img_group:first-child {
  margin-top: 20px;
}

#img_list {
  display: inline-flex;
  flex-direction: column;
  background-color: lightgray;
}

.page-button,
.frame-button {
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

footer {
  min-height: 7vh;
  width: 100%;
  background-color: #3472f8;
  color: white;
  text-align: center;
  padding-top: 0.3em;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
}
